* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'BIZ UDGothic', sans-serif;
}

body { 
  background-color: #37376a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
main {
  min-width: 320px;
  max-width: 600px;
  height: 100%; 
  background-color: transparent;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
}
section {
  height: auto;
}

