* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Caveat', cursive;
}

body { 
  background-color: #37376a;
  position: relative;
 
}

 main {
  height: 100vh;
  min-width: 300px;
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  
  
  padding: 0 12px;
}
@media (max-width: 768px) {
  main {
    width: 100vw;
  right: 0;
  left: 0;
  margin: 0 auto;
  }
  p {
    margin: 4px 15%;
  }
}
