.TodoCounter { 
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: rgb(232, 226, 226);
    font-style:oblique;
    font-weight: 700;
}
h1 {
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
    padding: 48px 48px 0 48px;
    color: rgb(232, 226, 226);
    font-style:oblique;
    font-weight: 700;
}